/*public class*/
*{
    margin:0;
    padding:0;
}
a{
    text-decoration: none;
}
body {font: normal 100% Helvetica, Arial, sans-serif; font-size:0.875em;}
.font12{font-size:0.75em;}
.font14{font-size:0.875em;}
.font18{font-size:1.125em;}
.font20{font-size:1.25em;}
.font26{font-size:0.1625em;}
.font33{font-size:2.0625em;}
/*public class end*/

.wraper {
    display: grid;
    grid-template-rows: 36.85% 59.44% 3.7%;
    grid-template-columns: 100%;
    width:100%;
    height: 100%;
}
.top{
    max-height:100%;
}

/*轮播图css*/







.mid{
    display: grid;
    grid-template-columns: 18.75% 62.5% 18.75%;
    grid-template-rows: 23.3% 53.2% 23.3%;
    background: #f4f6f9;
}
.item-titles{
    grid-column: 2/3;
    grid-row: 1/2;
    text-align: center;
    width: 100%;
    height: 100%;
}
.item-titles-content{
    font-size:2em;
    color: #333333;
    position: relative;
    top: 55.19%;
}
.items{
    grid-column: 2/3;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 33.333% 66.666%;
    grid-gap: 1px;
    background: #ebebeb;
    border:1px solid #ebebeb;
}
.items-left{
    background: #ffffff;
}
.items-right{
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    grid-template-rows: 50% 50%;
    grid-gap: 1px;
    background: #ebebeb;
}
.item-left-title, .item-right-title{
    color:#222222;
    position:relative;

}

.item-left-title{
    float:left;
    font-size:2.0625em;
    position:relative;
    top:6.6%;
    left:7%;
}
.item-left-msg, .item-right-msg{
    font-size:0.875em;
    color: #999999;
    position: relative;
}
.item-left-msg{
    top:19.1%;
    left:-15%;
}
.item-left-btn, .item-right-btn{
    font-size:0.75em;
    outline:none;
    background: #1890ff;
    color: #fefefe;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    position: relative;
}
.item-left-btn{
    height: 5%;
    width: 15.5%;
    position: relative;
    top: 32.3%;
    left: 7%;
}
.newA-down{
    position: relative;
    top: -117%;
}
.btn-content{
    position: relative;
    top: 5%;
    color:#ffffff;
}
.btn-img{}
.item-left-img, .item-right-img{
    position: relative;
    display: block;
}
.item-left-img{
    max-width: 100%;
    max-height: 100%;
    float: right;
    position: relative;
    top: 24%;
    left: -23%;
}
.items-right{
    left: 69%;
    top: 12%;
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    grid-template-rows: 50% 50%;
    grid-gap: 1px;
    background: #ebebeb;
}
.item-right{
    background: #ffffff;
}
.item-right{
    
}
.item-right-title{
    font-size:1.25em;
    left: 7.4%;
    top: 19%;
}
.item-right-msg{
    left: 7.4%;
    top: 25%;
}
.item-right-btn{
    left: 7%;
    top: 57%;
    width: 23%;
}
.newA-down{}
.item-right-img{
    left: 62%;
    top: 26%;
}


.bottom{
    text-align: center;
    font-size:0.75em;
    color: #969696;
    width: 100%;
    background: #161616;

}
.footer{
    display: inline-block;
    position: relative;
    top: 25%;
}
.linker{
    color: #969696;
    display: inline-block;
    position: relative;
    top: 25%;
}